/target
/Screenshots
/Screenshots/*
/Screenshots/
/test-output
/test-output*
/bin
/.metdata
/Reports
/*.log
/src/test/java/com/tests/Sample/Booking.java
/status.html
.metadata/
RemoteSystemsTempFiles/
.settings/
Results/
*.class
.classpath
.project
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/
gradlew
gradlew.bat
settings.gradle