<!DOCTYPE html>
<html>
<head>
<title>policy page</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="css/spinnerStyle.css">
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/angular-spinners.js"></script>
<script src="js/policyController.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    var table = $('#example').DataTable( {
        scrollY:        "300px",
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        columnDefs: [
            { width: '20%', targets: 0 }
        ],
        fixedColumns: true
    } );
} );
</script>

<style>
#left {
	width: 220px;
	margin: 5px;
}

#center {
	margin: 5px 0;
	width: calc(100% - 460px);
}

#right {
	margin: 5px;
	width: 220px;
}

input[type="submit"]{
  display: block;
  background: #5A6AD0;
  
  height:30px;
  padding: 3px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin-top: 12px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.submitPolicy{
  margin-left:100px ;!important
}

.scroll1 {
    background-color: #FFFFFF;
    width: 100%;
    height: 540px;
    overflow: scroll;
    padding-right: 30px;
    padding-left: 30px;
}

.scroll2 {
	background-color: #FFFFFF;
	width: 580px;
	height: 540px;
	overflow: scroll;
	padding-right: 30px;
	padding-left: 30px;
}

.policy-form-nda {
	margin-top: 6px;
	margin-left: 12px;
	border: 2px solid #2E3EA6;
}

@media only screen and (max-width: 800px) {
    .scroll1 {
    width: 650px;
    }

}
 
.policy-form-genral {
	margin-top: 6px;
	margin-left: 2px;
	margin-right: 12px;
	border: 2px solid #2E3EA6;
}

.policy-head {
	background-color: #081DA5;
	color: white
}

.image {
	padding-left: 550px;
	text-align: center;
	font-family: Arial;
	font-weight: normal;
	margin: 2em auto 0px;
}
 .tdSpaceLogo{
 	padding-left:10px;
    padding-right: 210px;
}

.tdSpacePolicy{
    padding-right: 178px;
}

.acceptText{
padding-left:30px;
padding-right:90px;



}
.tdFullName{
padding-right:30px;

}

</style>

</head>
<body ng-app ="myApp"  ng-controller="myControllerPolicy">
  <form   method ='post' ng-show="!loggedIn" class="well" >
          <spinner name="html5spinner" ng-cloak="">
          <div class="overlay"></div>
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
          <div class="please-wait">Please wait for a while...</div>
        </spinner>
  
  <input type=hidden name="asdf" value="{{full_name}}" />
	<table width="100%" border="0">
		<tr>
			<td colspan="2" class="policy-head">
				<table id="example">
					<tr>
						<td class="tdSpaceLogo" style="white-space: nowrap;"><img class="" src="image/Parkar.png" alt="Smiley face"></td>
						<td class="tdSpacePolicy" style="white-space: nowrap;"><h3><b>NDA & Parkar Policies</b></h3></td>
						<td class="tdFullName" style="white-space: nowrap;"><h4>Welcome {{full_name}}</h4></td>
						<td class="" style=""><input type="submit" name="Sign Out" value="Sign Out" ng-click="SignOut()"/></td>
					</tr>
				</table>
				
			</td>
</tr>
		<tr align="top">
			<td bgcolor="#ffffff">
				<div class="policy-form-nda">
					<div class="scroll1">
					 <div id="content1">
						<h3>
							<center>
								<b>Non-Disclosure Agreement</b>
							</center>
						</h3>
						<br />

						<p>
						<center>
							EMPLOYEE<br> CONFIDENTIALITY, INVENTION ASSIGNMENT<br>
							AND NON-COMPETE AGREEMENT
							<center>
								</p>
								<p align="justify">THIS EMPLOYEE CONFIDENTIALITY, INVENTION
									ASSIGNMENT AND NON-COMPETE AGREEMENT ("Agreement") is made as
									of 01 June 2016, between Parkar Global Technologies Private
									Limited, 8th Floor, B Wing, ICC Trade Tower, Senapati Bapat Road,
									Pune 411 016 (the "Company"), and <b>{{full_name}}</b> ("Employee").</p>
								<p align="justify">In consideration of the Employee's
									employment or continued employment by the Company, with the
									intention that this Agreement shall apply to the entire period
									of Employee's employment with the Company (including the period
									prior to the date of this Agreement), the Employee hereby
									agrees as follows:</p>

								<p align="justify">1. CONFIDENTIAL INFORMATION DEFINED.
									"Confidential Information" means trade secrets, proprietary
									information, and confidential knowledge and information which
									includes, but is not limited to, matters of a technical nature
									(such as discoveries, ideas, concepts, designs, drawings,
									specifications, techniques, models, diagrams, test data,
									scientific methods and know-how), and matters of a business
									nature (such as the identity of customers and prospective
									customers, the nature of work being done for or discussed with
									customers or prospective customers, suppliers, marketing
									techniques and materials, marketing and development plans,
									pricing or pricing policies, financial information, plans for
									further development, and any other information of a similar
									nature not available to the public).</p>
								<p align="justify">2. NON-DISCLOSURE OF CONFIDENTIAL
									INFORMATION OF THE COMPANY. Employee acknowledges that, during
									the period of Employee's employment with the Company, Employee
									has had or will have access to Confidential Information of the
									Company. Therefore, Employee agrees that both during and after
									the period of Employee's employment with the Company, Employee
									shall not, without the prior written approval of the Company,
									directly or indirectly (a) reveal, report, publish, disclose or
									transfer any Confidential Information the Company to any person
									or entity, or (b) use any Confidential Information of the
									Company for any purpose or for the benefit of any person or
									entity, except as may be necessary in the performance of
									Employee's work for the Company.</p>
								<p align="justify">3. NON-DISCLOSURE OF CONFIDENTIAL
									INFORMATION OF OTHERS. Employee acknowledges that, during the
									period of Employee's employment with the Company, Employee may
									have had or will have access to Confidential Information of
									third parties who have given the Company the right to use such
									Confidential Information, subject to a non-disclosure agreement
									between the Company and such third party. Therefore, Employee
									agrees that both during and after the period of Employee's
									employment with the Company, Employee shall not, without the
									prior written approval of the Company, directly or indirectly
									(a) reveal, report, publish, disclose or transfer any
									Confidential Information of such third parties to any person or
									entity, or (b) use any Confidential Information of such third
									parties for any purpose or for the benefit of any person or
									entity, except as may be necessary in the performance of
									Employee's work for the Company.</p>
								<p align="justify">4. PROPERTY OF THE COMPANY. Employee
									acknowledges and agrees that all Confidential Information of
									the Company and all reports, drawings, blueprints, data, notes,
									and other documents and records, whether printed, typed,
									handwritten, videotaped, transmitted or transcribed on data
									files or on any other type of media, made or compiled by
									Employee, or made available to Employee, during the period of
									Employee's employment with the Company (including the period
									prior to the date of this Agreement) concerning the Company's
									Confidential Information are and shall remain the Company's
									property and shall be delivered to the Company within one (1)
									business day after the termination of such employment with the
									Company or at any earlier time on request of the Company.
									Employee shall not retain copies of such Confidential
									Information, documents and records.</p>
								<p align="justify">5. PROPRIETARY NOTICES. Employee shall
									not, and shall not permit any other person to, remove any
									proprietary or other legends or restrictive notices contained
									in or included in any Confidential Information.</p>
								<p align="justify">
								
								</div>
								<div id="content2">
								
									6. INVENTIONS.<br> <br> (a) Employee shall promptly,
									from time to time, fully inform and disclose to the company in
									writing all inventions, copyrightable material, designs,
									improvements and discoveries of any kind which employee now has
									made, conceived or developed (including prior to the date of
									this agreement), or which employee may later make, conceive or
									develop, during the period of employee's employment with the
									company, which pertain to or relate to the company's business
									or any of the work or businesses carried on by the company
									"inventions"). This covenant applies to all such inventions,
									whether or not They are eligible for patent, copyright,
									trademark, trade secret or other legal Protection; and whether
									or not they are conceived and/or developed by employee Alone or
									with others; and whether or not they are conceived and/or
									developed During regular working hours; and whether or not they
									are conceived and/or Developed at the company's facility or
									not.

								</p>
								<p align="justify">(b) All inventions shall be the sole and
									exclusive property of the Company, and shall be deemed part of
									the confidential information of the company For purposes of
									this agreement, whether or not fixed in a tangible medium of
									Expression. Employee hereby assigns all employee's rights in
									all inventions and In all related patents, copyrights and
									trademarks, trade secrets and other Proprietary rights therein
									to the company. Without limiting the foregoing, Employee agrees
									that any copyrightable material shall be deemed to be "works
									Made for hire" and that the company shall be deemed the author
									of such works Under the united states copyright act, provided
									that in the event and to the Extent such works are determined
									not to constitute "works made for hire", Employee hereby
									irrevocably assigns and transfers to the company all right,
									Title and interest in such works.</p>
								<p align="justify">(c) Employee shall assist and cooperate
									with the company, both during and after the period of
									employee's employment with the company, at the Company's sole
									expense, to allow the company to obtain, maintain and enforce
									Patent, copyright, trademark, trade secret and other legal
									protection for the Inventions. Employee shall sign such
									documents, and do such things necessary, to obtain such
									protection and to vest the company with full and exclusive
									title in all inventions against infringement by others.
									Employee hereby appoints the Secretary of the company as
									employee's attorney-in-fact to execute documents on Employee's
									behalf for this purpose.</p>
								<p align="justify">(d) Employee shall not be entitled to any
									additional compensation for any and all inventions made during
									the period of employee's employment with the Company.</p>
								<p align="justify">7. COVENANT NOT TO COMPETE. Employee and
									the Company agree that the services rendered by the Employee
									are unique and irreplaceable, and that competitive use and
									knowledge of any Confidential Information would substantially
									and irreparably injure the Company's business, prospects and
									good will. Employee and the Company also agree that the
									Company's business is global in nature due to the type of
									products and/or services being provided. Therefore, Employee
									agrees that during the period of Employee's employment with the
									Company and for a period of two (2) years thereafter, Employee
									shall not, directly or indirectly, through any other person,
									firm, corporation or other entity (whether as an officer,
									director, employee, partner, consultant, holder of equity or
									debt investment, lender or in any other manner or capacity):</p>
								<p align="justify">(a) develop, sell, market, offer to sell
									products and/or services anywhere in the world for any
									corporation or other entity whose principal business is
									Analytics & Statistical Modeling(the foregoing will not
									prohibit the Employee's ability to work for any academic or
									government institutions or companies whose principal business
									is not Analytics & Statistical Modeling;</p>
								<p align="justify">(b) solicit, induce, encourage or attempt
									to induce or encourage any employee or consultant of the
									Company to terminate his or her employment or consulting
									relationship with the Company, or to breach any other
									obligation to the Company;</p>
								<p align="justify">(c) solicit, interfere with, disrupt,
									alter or attempt to disrupt or alter the relationship,
									contractual or otherwise, between the Company and any other
									person including, without limitation, any consultant,
									contractor, customer, potential customer, or supplier of the
									Company; or</p>
								<p align="justify">(d) engage in or participate in any
									business conducted under any name that shall be the same as or
									similar to the name of the Company or any trade name used by
									the Company.</p>
									</div>
									<div id="content3">
								<p align="justify">Employee acknowledges that the foregoing
									geographic, activity and time limitations contained in this
									Section 7 are reasonable and properly required for the adequate
									protection of the Company's business. In the event that any
									such geographic, activity or time limitation is deemed to be
									unreasonable by a court, Employee shall submit to the reduction
									of either said activity or time limitation to such activity or
									period as the court shall deem reasonable. In the event that
									Employee is in violation of the aforementioned restrictive
									covenants, then the time limitation thereof shall be extended
									for a period of time equal to the pendency of such proceedings,
									including appeals.</p>
								<p align="justify">8. REPRESENTATIONS. Employee represents
									that Employee has the right to enter into this Agreement, and
									that Employee's performance of all the terms of this Agreement
									and his duties as an employee of the Company will not breach
									any confidential information agreement, non-competition
									agreement or other agreement with any former employer of his
									services, either as an employee, consultant, contractor or
									independent contractor, or with any other party. Employee
									represents that Employee will not disclose to the Company any
									trade secrets or confidential or proprietary information of any
									third party that are not generally available to the public.</p>
								<p align="justify">9. DISCLOSURE OF THIS AGREEMENT. Employee
									hereby authorizes the Company to notify others, including but
									not limited to customers of the Company and any of Employee's
									future employers, of the terms of this Agreement and Employee's
									responsibilities under this Agreement.</p>
								<p align="justify">10. SPECIFIC PERFORMANCE. Employee
									acknowledges that money damages alone would not adequately
									compensate the Company in the event of a breach or threatened
									breach by Employee of this Agreement, and that, in addition to
									all other remedies available to the Company at law or in
									equity, the Company shall be entitled to injunctive relief for
									the enforcement of its rights and to an accounting of profits
									made during the period of such breach.</p>
								<p align="justify">11. NO RIGHTS GRANTED. Employee
									understands that nothing in this Agreement shall be deemed to
									constitute, by implication or otherwise, the grant by the
									Company to the employee of any license or other right under any
									patent, patent application or other intellectual property right
									or interest belonging to the Company.</p>
								<p align="justify">
									12. SEVERABILITY.<br> <br> (a) Each of the covenants
									provided in this Agreement are separate and independent
									covenants. If any provision of this Agreement shall be
									determined to be invalid or unenforceable, the remainder of
									this Agreement shall not be affected thereby and any such
									invalid or unenforceable provision shall be reformed so as to
									be valid and enforceable to the fullest extent permitted by
									law.

								</p>
								<p align="justify">(b) It is not a defense to the
									enforcement of any provision of this Agreement that the Company
									has breached or failed to perform any obligation or covenant
									hereunder or under any other agreement or understanding between
									Employee and the Company.</p>
								<p align="justify">13. GOVERNING LAW. This Agreement shall
									be governed by and construed in accordance with the laws of the
									State of Delaware without regard to conflict of law rules.</p>
								<p align="justify">14. SUPERSEDES OTHER AGREEMENTS. This
									Agreement contains the entire agreement of the parties with
									respect to subject matter hereof and supersedes all previous
									agreements and understandings between the parties with respect
									to its subject matter.</p>
								<p align="justify">15. AMENDMENTS. This Agreement may not be
									changed, modified, released, discharged, abandoned or otherwise
									terminated in whole or in part except by an instrument in
									writing, agreed to and signed by the Employee and a duly
									authorized officer of the Company.</p>
								<p align="justify">16. ACKNOWLEDGEMENTS. THE EMPLOYEE
									ACKNOWLEDGES THAT (i) THE EMPLOYEE HAS READ AND FULLY
									UNDERSTANDS THIS AGREEMENT; (ii) THE EMPLOYEE HAS BEEN GIVEN
									THE OPPORTUNITY TO ASK QUESTIONS; (iii) THE EMPLOYEE HAS
									RECEIVED A COPY OF THIS AGREEMENT, THE ORIGINAL OF WHICH WILL
									BE RETAINED IN THE EMPLOYEE'S PERSONNEL FILE; AND (iv) THE
									EMPLOYEE'S OBLIGATIONS UNDER THIS AGREEMENT SURVIVE THE
									TERMINATION OF THE EMPLOYEE'S EMPLOYMENT WITH THE COMPANY FOR
									ANY REASON.</p>
									</div>
									<div id="content4">
									
									
								<p align="justify">In witness whereof the parties hereto
									have set and subscribed their respective signatures on the day
									month and year first in above mentioned at Pune.</p>
								<br>
								<p align="justify">
									<p align="left">FOR AND ON BEHALF OF EMPLOYEE &nbsp; &nbsp; &nbsp;&nbsp;
									&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
									&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
									
									<b>{{full_name}}</b><br>PARKAR GLOBAL TECHNOLOGIES PVT.LTD<p style="color: black" align="right" ng-if="confirmedNda"><b>Agreed and Accepted</b>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p><p>
									
									
									
									
									
									<br><img align="left" src="image/signeture.png" alt="Smiley face"> 
									
									<br><br><br><p align="left">(Authorized Signatory)</p> &nbsp; &nbsp; &nbsp;&nbsp;
									&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
									&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
									&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
									&nbsp;

								</p>

								<input type="checkbox" ng-model="confirmedNda" ng-change="changeNda()"
									id="ng-change-example1" required="required">&nbsp;
								Please subscribe tick in the block in token of your acceptance
								and admission :<br>
								<!-- {{confirmed}} -->
								I have read the contents of NDA of PARKAR India.
								I have understood the same and I accept and admit them


</div>

							
					</div>
				</div>
			</td>
			<td bgcolor="#ffffff">
				<div class="policy-form-genral">
					<div class="scroll2">
						<table>
							<thead>
								<tr>
									<th><h3>
											<b>General Policies</b>
										</h3></th>
									<th><h3>
											<b>Download</b>
											<h3></th>
								</tr>
							</thead>

						

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Attendance and Shift Allowance Policy.pdf"
									target="_blank">Attendance and Shift Allowance Policy</a></td>
								<td align="center"><a
									href="policy/Attendance and Shift Allowance Policy.pdf"
									download="policy/Attendance and Shift Allowance Policy.pdf">
										<span class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>
							
								<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482" href="policy/Certification Policy.pdf"
									target="_blank">Certification Policy</a></td>
								<td align="center"><a href="policy/Certification Policy.pdf"
									download="policy/Certification Policy.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Compensation and Benefits.pdf" target="_blank">Compensation
										and Benefits</a></td>
								<td align="center"><a
									href="policy/Compensation and Benefits.pdf"
									download="policy/Compensation and Benefits.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none ; color:#003482"
									href="policy/Dress Code Policy.pdf" target="_blank">Dress
										Code Policy</a></td>
								<td align="center"><a href="policy/Dress Code Policy.pdf"
									download="policy/Dress Code Policy.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Employee Referral Program.pdf" target="_blank">Employee
										Referral Program</a></td>
								<td align="center"><a
									href="policy/Employee Referral Program.pdf"
									download="policy/Employee Referral Program.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/General and Personal Record.pdf" target="_blank">General
										and Personal Record</a></td>
								<td align="center"><a
									href="policy/General and Personal Record.pdf"
									download="policy/General and Personal Record.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>

							<tr>
								<td style="width: 350px; height: 30px" ><a
									style="text-decoration: none; color:#003482"
									href="policy/Information Security Policy.pdf" target="_blank">Information
										Security Policy</a></td>
								<td align="center"><a
									href="policy/Information Security Policy.pdf"
									download="policy/Information Security Policy.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>

							

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482" href="policy/Leave Policy.pdf"
									target="_blank">Leave Policy</a></td>
								<td align="center"><a href="policy/Leave Policy.pdf"
									download="policy/Leave Policy.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>
						
							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Onboarding and Induction.pdf" target="_blank">Onboarding
										and Induction</a></td>
								<td align="center"><a
									href="policy/Onboarding and Induction.pdf"
									download="policy/Onboarding and Induction.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>
						
							<!-- <tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Insurance claim guidlines.pdf" target="_blank">Insurance
										claim guidlines</a></td>
								<td align="center"><a
									href="policy/Insurance claim guidlines.pdf"
									download="policy/Insurance claim guidlines.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>
 -->							

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Prevention of Workplace Harassment Policy v.1.pdf"
									target="_blank">Prevention of Workplace Harassment Policy</a></td>
								<td align="center"><a
									href="policy/Prevention of Workplace Harassment Policy v.1.pdf"
									download="policy/Prevention of Workplace Harassment Policy v.1.pdf">
										<span class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>

							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Reimbursement Policy.pdf" target="_blank">Reimbursement
										Policy</a></td>
								<td align="center"><a
									href="policy/Reimbursement Policy.pdf"
									download="policy/Reimbursement Policy.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>
							
							<!-- <tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Sales Referral Program -Delivery Team.pdf" target="_blank">Sales Referral Program Delivery Team</a></td>
								<td align="center"><a
									href="policy/Sales Referral Program -Delivery Team.pdf"
									download="policy/Sales Referral Program -Delivery Team.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr> -->
							
							
							<tr>
								<td style="width: 350px; height: 30px"><a
									style="text-decoration: none; color:#003482"
									href="policy/Separation.pdf" target="_blank">Separation</a></td>
								<td align="center"><a
									href="policy/Separation.pdf"
									download="policy/Separation.pdf"> <span
										class="glyphicon glyphicon-download-alt"></span>
								</a></td>
							</tr>
							
						</table><br>
						<input type="checkbox" ng-model="confirmedPolicy" ng-change="changePolicy()"
							id="ng-change-example1" required="required">&nbsp; Please
						subscribe tick in the block in token of your acceptance and
						admission :<br>
						<!-- {{confirmed}} -->
						I have read the contents of policies of PARKAR India.
						I have understood the same and I accept and admit them.
					</div>
				</div>
			</td>
		</tr>
		<!-- <tr>
			<td colspan="2" >
					<table><tr>
				<td align="center" ><input type="submit"  class="submitPolicy" value="Submit" ng-click="saveStatus"/></td></tr>
					</table>
			</td>
		</tr> -->
	</table>
	<div ng-if="confirmedPolicy && confirmedNda">
	<input type="submit"   value="Submit" ng-click="$event.preventDefault(); saveStatus()"/></div>
	</form>
</body>
</html>